* {
	box-sizing: border-box;
}
body {
	margin: 30px;
}
ul {
	display: block;
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
}
li {
	flex: 0 0 10%;
}
li::after {
	content: '';
	display: block;
	padding-bottom: 100%;
	background-color: #999;
	margin: 1px;
}

ul li:nth-child(24n+1)::after {
	background-color: #005c00;
	-ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Safari 3-8 */
    transform: rotate(10deg);
}

ul li:nth-child(24n+13)::after {
	background-color: #005c00;
	-ms-transform: rotate(80deg); /* IE 9 */
    -webkit-transform: rotate(80deg); /* Safari 3-8 */
    transform: rotate(80deg);
}

li:nth-child(2n+2)::after {
	background-color: #171717;
}

li:nth-child(6n+3) {
	flex: 0 0 20%;
}

li:nth-child(6n+3)::after {

	padding-bottom: 50%;:
}

li:nth-child(6n+6) {
	flex: 0 0 20%;
}

li:nth-child(6n+6)::after {
	background-color: #171717;
	padding-bottom: 50%;
}

li:nth-child(-1n+8)::after {
	opacity: 0.15;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

ul li:nth-child(8) ~ li:nth-child(-1n+15)::after {
	opacity: 0.30;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

ul li:nth-child(15) ~ li:nth-child(-1n+22)::after {
	opacity: 0.45;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

ul li:nth-child(22) ~ li:nth-child(-1n+30)::after {
	opacity: 0.70;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

 ul li:nth-last-child(-1n+7)::after {
	opacity: 0.15;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

ul li:nth-last-child(n+8):nth-last-child(-n+16)::after {
	opacity: 0.30;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

ul li:nth-last-child(n+17):nth-last-child(-n+22)::after {
	opacity: 0.45;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

ul li:nth-last-child(n+23):nth-last-child(-n+30)::after {
	opacity: 0.70;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
